.listContainer {
  .errorList {
    transition: box-shadow .5s;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 3px #e4ebf1;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }
}
